#header {
    border: 1px black solid;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

#profilePic {
    width: 50px;
    grid-column: 4/5;
}

#logo {
    width: 250px;
}

#searchBar {
    justify-content: center;
}

.dirItem {
    display: flex;
    gap: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

#directoryZone {
    display: grid;
    grid-template-columns: 600px 600px 600px 600px 600px;
    overflow-x: scroll;
    height: 1000px;
}

#mainPage {
    display: grid;
    grid-template-columns: 100%;
}

#uploadBtn {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

#upBar {
    justify-content: center;
    gap: 35px;
}

#itemInfo {
    background-color: bisque;
    z-index: 2;
    text-align: center;
    padding: 62px;
    display: none;
    
}
#itemInfo h3 {
    margin: 0;
}
#itemInfo h4 {
    margin-bottom: 45px;
}
.deleteBtn, .renameBtn{
    display: inline-block; /* o flex */
  align-self: flex-end !important;
}
.dirItemBOX{
        display: flex;
        gap: 10px; 
}